<div class="card">
  <p-treeTable
    [value]="files"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-treetable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>ID</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">
        <td *ngFor="let col of columns; let i = index; let last = last">
          <p-treeTableToggler
            [rowNode]="rowNode"
            *ngIf="i === 0"
          ></p-treeTableToggler>
          {{ rowData[col.field] }}
          <ng-container *ngIf="last">
            <p-button
              icon="pi pi-search"
              [rounded]="true"
              [style]="{ 'margin-right': '.5em' }"
            ></p-button>
            <p-button
              icon="pi pi-pencil"
              [rounded]="true"
              severity="success"
            ></p-button>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
