/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #0854A0;
  --secondary-color: #0066CC;
  --tertiary-color: #E5F0FA;
  --quaternary-color: #354A5F;
  --grey-1: #F5F5F5;
  --grey-2: #F7F7F7;
  --grey-3: #E7E7E7;
  --grey-4: #6F6F6F;
  --bg-light: #FAFAFA;
  --white: #fff;
  --dark: #32363A
}


html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--dark);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  padding: 0 2rem;
}

.p-treetable-scrollable-view{
background-color: var(--white);

}
.p-treetable-thead {
  border-radius: 6px 6px 0px 0px;
  border: 1px solid var(--grey-3);
  background-color: var(--grey-2);
}

.p-treetable-scrollable-body {
  border: 1px solid var(--grey-3);
  border-top: 0;
}
.p-treetable .p-treetable-thead > tr > th{
  color: var(--grey-4);
}

.p-treetable .p-sortable-column.p-highlight{
  color: var(--primary-color);
}

.p-treetable .p-sortable-column.p-highlight .p-sortable-column-icon{
  color: var(--primary-color);
}
.p-treetable .p-treetable-tbody > tr[aria-level="3"] > td .p-treetable-toggler{
  color: var(--white);
}

.p-treetable .p-treetable-tbody > tr[aria-level="3"] > td .p-treetable-toggler:enabled:hover{
  color: var(--primary-color);
}

.add-button .p-button.p-button-icon-only.p-button-rounded{
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
